<h2 id='title'>Tombola</h2>

{{input id="newTicket" type="number" placeholder="Zadej číslo výherce" value=newTicket action="add"}}

{{#each ticket in tickets}}
    <div class="ticket">{{ticket}}</div>
{{/each}}
